.btn {
  border-radius: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: $darkest-color;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 15px 0;
  width: 300px;
  margin: 40px 0 80px;
  transition: background-color 0.5s ease;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: $darkest-color;
    transition: background-color 0.5s ease;
  }
}

.btn-main {
  background-color: $neon-color;

  &:hover, &:focus, &:active {
    background-color: $yankees-color;
    color: $neon-color;
  }
}
