//COLORS
$neon-color: #ccff00;
$darkest-color: black;
$yankees-color: #1b263c;
$charcoal-color: #313c53;
$pastel-color: #b6c0d2;
$lightest-color: #fff;

//FONTS
$big-font: 'Poppins';
$small-font: 'Work Sans';

$p-font-size: 18px;

//BREAKPOINTS
$screen-xs: 540px;
$screen-md: 768px;
$screen-bg: 850px;
$screen-lg: 1200px;
