.main-title {
  text-align: center;
  color: $neon-color;
  margin-top: 35vh;
  font-size: 6rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: -5px;
}

.text--line {
  font-size:4rem;
  font-family: 'Poppins', sans-serif;
  font-weight:600;
}

#outline {
  fill: none;
  stroke: $neon-color;
  stroke-dasharray:100%;
  stroke-dashoffset:0;
  animation-name: outline;
  animation-duration: 2.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

#fill {
  fill-opacity: 0;
  fill: $neon-color;
  animation-name: fill;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}


@keyframes outline{
  from {
    stroke-dashoffset:100%;
  }
  to{
    stroke-dashoffset:0;
  }
}

@keyframes fill{
  from {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 1;
  }
}
