/*
VARIABLES
*/
$neon-color: #ccff00;
$darkest-color: black;
$yankees-color: #1b263c;
$charcoal-color: #313c53;
$pastel-color: #b6c0d2;
$lightest-color: #fff;

$big-font: 'Poppins';
$small-font: 'Work Sans';

$p-font-size: 18px;

//Breakpoints
$screen-xs: 540px;
$screen-md: 768px; 
$screen-bg: 850px;
$screen-lg: 1200px;


html, body, #root {
  margin: 0;
  height: 100%;
  font-family: $small-font, sans-serif;
}

h1, h2, h3 {
  font-family: $big-font, sans-serif;
}

body, h1, h2, h3 {
  font-weight: 300;
}

h2 {
  font-size: 4.5rem;
  line-height: 43px;
  letter-spacing: -2px;
}

p {
  font-size: $p-font-size;
}

.center-block {
   margin-left:auto;
   margin-right:auto;
}

.vcenter {
  @media (min-width: $screen-md) { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}

.main-title {
  text-align: center;
  color: $neon-color;
  margin-top: 35vh;
  font-size: 6rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: -5px;
}

.container.fullscreen {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;

  &.rotated-line {
    overflow: visible;
  }
}

.img-fullscreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    min-height: 100%;
    min-width: 100%;
}

.rotated-line {
  &:before {
    transform: rotate(-25deg);
    content: "";
    position: absolute;
    height: 90vh;
    z-index: -1;
    margin-left: -50%;
    width: 200%;
  }
}

.svg-centered {
  svg {
    margin-top: 30vh;
    width:100%;
  }
}

.text--line {
  font-size:4rem;
  font-family: 'Poppins', sans-serif;
  font-weight:600;
}

#outline {
  fill: none;
  stroke: $neon-color;
  stroke-dasharray:100%;
  stroke-dashoffset:0;
  animation-name: outline;
  animation-duration: 2.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

#fill {
  fill-opacity: 0;
  fill: $neon-color;
  animation-name: fill;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}


@keyframes outline{
  from{
    stroke-dashoffset:100%;
  }
  
  to{
    stroke-dashoffset:0;
  }
}

@keyframes fill{
  from{
    fill-opacity: 0;
  }
  
  to{
    fill-opacity: 1;
  }
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-item {
  max-width: 50%;
}

/*
style for light background widget
*/
.w-light {

  &.rotated-line {
    background-color: transparent;
    
    &:before {
      background-color: $pastel-color;
    }
  }
}

/*
style for dark background widget
*/
.w-dark {
  background-color: $yankees-color;

  &.rotated-line {
    background-color: transparent;

    &:before {
      background-color: $yankees-color;
    }
  }
}

.btn {
  border-radius: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: $darkest-color;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 15px 0;
  width: 300px;
  margin: 40px 0 80px;
  transition: background-color 0.5s ease;

  &:hover, 
  &:focus, 
  &:active {
    text-decoration: none;
    color: $darkest-color;
    transition: background-color 0.5s ease;
  }
}

.btn-main {
  background-color: $neon-color;
  
  &:hover, &:focus, &:active {
    background-color: $yankees-color;
    color: $neon-color;
  }
}

.w-light, .w-dark {

  .btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;

    @media (min-width: $screen-xs) {
      display: inline-block;
      width: 300px;
    }
  }

  img {
    max-width: 65%;

    @media (min-width: $screen-xs) {
      max-width: 100%;
    }
  }

  >.row {
    max-width: $screen-lg;
  }
}